.about-us{
    text-align: center;
    margin: 50px auto 20px auto;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(179, 245, 241);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 70%;
}
.content-container{
    text-align: center;
}
.portfolio{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    padding: 60px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.portrait:hover{
    transition: 0.5s ease;
    transform: scale(1.03);
}
.portrait{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-right: 10px;
    border: 3px solid black;
}
.mission-vision{
    display: flex;
}