#contact * {
    box-sizing: border-box;
}

#contact {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 40px 20px 144px;
    background: linear-gradient(120deg, rgb(255,255,255), rgb(255, 232, 173), rgb(255, 231, 170), rgb(255,255,237));
    background-size: 300% 300%;
    background-position: center;
    animation: gradient 15s ease infinite;
}

#contact_container {
    display: flex;
    flex-direction: column;
    max-width: 1320px;
    flex-grow: 1;
}

#contact_header{
    text-align: center;
    font-size: 24px;
    margin: 50px auto 30px auto;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(67, 255, 246);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
}

#contact_form {
    padding: 80px 120px;
    border-radius: 32px;
    border: 2px solid;
    background-color: rgb(194, 194, 194);
}

.contact_form_item {
    margin-bottom: 20px;
}

.contact_input {
    width: 100%;
    border-radius: 3px;
    min-height: 50px;
    margin: 0 auto 20px;
    border: 2px solid;
}

#desc.contact_input {
    resize: vertical;
    min-height: 200px;
    padding: 10px;
    vertical-align: top;
}