.container{
    display: flex;
    height: 75px;
    background-image: linear-gradient(rgba(111, 174, 255, 0.75), rgba(164, 255, 250, 0.75));
    background-color: black;
    justify-content: space-between;
}
.container *{
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;

}
.footer-links{
    margin: 20px;
    margin-top: 27px;
}
.footer-links-link{
    display: flex;
    gap: 40px;
    
}
.footer-links-link a{
    flex: 1;
    width: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    
}
.rights-reserved{
    padding-top: 10px;
    flex: 2;
    text-align: center;
    color: white;
    
}

.social-media{
    padding: 15px;
    padding-left: 70px;
    padding-right: 20px;
    padding-top: 18px;
}
.social-media-components{
    display: flex;
}
.sc{
    width: 30px;
    height: 30px;
    
}