
.content{
    width: 100%;
    text-align: center;
    color: #fff;
    height: 90vh;
}
.header h1, .child-one p, .child-two p, .child-three{
    margin: 0;
    padding: 0;
}
.child-one{
    padding-bottom: 70px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.child-two{
    padding-bottom: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.child-three{
    display: inline-flex;
    padding-bottom: 100px;
}
.child-three *{
    text-align: center;
    margin-right: 30px;
}

.header{
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.home_container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    width: 100%;
}
#home_content {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.home_content_element {
    display: flex;
    max-width: 1200px;
}

/*
.background-image {
    position: relative;
    height: 400px; !* Set the height as needed *!
    background-size: cover;
    background-position: center;
    color: #fff; !* Text color on the overlay *!
}

.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); !* Adjust the alpha value for the overlay color *!
}
*/

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 20px;
    border-radius: 25px;
    column-gap: 40px;
    font-weight: bold;
    border: 2px solid #b1fff8;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: white;
}
button:hover{
    transition: 0.5s ease;
    transform: scale(1.02);
}
button a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: #ffffff;
}


