/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
} */

main {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(67, 67, 67, 0.75)),
    url(./Payment.jpg);
}

.logo {
  height: 100px;
  width: 150px;
  cursor: pointer;
  margin-left: 50px;
}
.navbar {
  z-index: 1000;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(
    rgba(164, 255, 250, 0.75),
    rgba(111, 174, 255, 0.75)
  );
}
.navbar ul li {
  list-style: none;
  display: inline;
  margin-right: 40px;
  position: relative;
  padding: 15px;
}
.navbar ul li a {
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #239cdd;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-25 {
  flex: 25%;
  margin-top: 200px;
  align-self: center;
}

.col-50 {
  flex: 50%;
}

.col-75 {
  flex: 75%;
  margin-top: 50px;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.col-25 p {
  margin: 20px;
}

.col-25 a {
  text-decoration: none;
}
.col-25 h4 {
  margin: 20px 5px;
}

.col-50 h3 {
  margin: 30px 0px;
}
.col-50 label {
  margin: 20px 0;
}
.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  margin: 0px 20px 50px 20px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin: 20px 20px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #00ffa2;
  color: black;
  padding: 12px;
  margin: 40px 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  width: 65%;
  border: 2px solid black;
}

.btn:hover {
  transition: 0.5s ease;
  color: white;
  background-color: #005c05;
}

span.price {
  float: right;
  color: grey;
  color: black;
  margin: 0;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
