#services * {
    box-sizing: border-box;
}

#services {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 40px 20px 144px;
    animation: gradient 15s ease infinite;
    background-image: linear-gradient(360deg, #0528a738, transparent);
    background-size: 200% 200%;
    background-position: center;
}

#services_container {
    display: flex;
    flex-direction: column;
    max-width: 1320px;
    flex-grow: 1;
}


#services_header {
    border: 2px solid;
    border-radius: 80px;
    margin: 40px;
    background: linear-gradient(120deg, rgb(255, 232, 173), rgb(255,255,237), rgb(255, 231, 170));
}

#services_header h1 {
    text-align: center;
    font-size: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 34px;
}
#services_header p {
    text-align: center;
    margin: 34px;
}
#services_content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.services_title {
    margin: 32px 32px 24px;
    font-weight: bold;
}

#services_content {
    font-size: 26px;
}
.services_section {
    margin-bottom: 72px;
}

.services_grid {
    margin: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.services_grid p{
    text-align: center;
}


.services_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 1rem;
    column-gap: 1rem;
}

.services_tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 348px;
    border: 2px solid black;
    border-radius: 70px;
    background-color: wheat;
}

.services_tile a {
    width: 100%;
    height: auto;
}

.services_tile img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    top: 0;
    left: 0;
    border-bottom: 2px solid black;
    border-radius: 70px 70px 0 0;
}
.services_tile p {
    margin-top: 6px;
    height: 64px;
}

.services_tile:hover{
    transition: 0.5s ease;
    transform: scale(1.02);
    margin-bottom: 0;
}