.form-cont{
    background-color: rgb(251, 245, 234);
    border-radius: 30px;
    box-shadow: 0px 0px 10px wheat;
    padding: 30px;
    margin-bottom: 50px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }

  form label p{
    margin: 10px;
    font-weight:50;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="file"] {
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    width: 95%;
  }

  form button[type="submit"] {
    width: 60%;
    background-color: #0072c6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px;
  }
  
  form button[type="submit"]:hover {
    transition: 0.5s ease;
    transform: scale(1.02);
  }